[submodule "extensions/godot-cpp"]
	path = extensions/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "extensions/engine/paper-football"]
	path = extensions/engine/paper-football
	url = git@github.com:mustitz/paper-football.git
	branch = rus-football
