[submodule "extensions/godot-cpp"]
	path = extensions/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "extensions/engine/paper-football"]
	path = extensions/engine/3-football-on-paper
	url = git@github.com:mustitz/3-football-on-paper.git
	branch = rus-football
